head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="description", content="#{description}")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  meta(property='og:title', content='#{title}')
  meta(property='og:description', content='#{description}')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='#{appName}')

  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/css/common.css')

  //script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
